*{
    margin:0px;
    padding:0px;
    border:0px;
}
body{
        background-color: #fffce2;
        font-family: arial,verdana,sans-serif;
        margin: 0px;
        padding: 0px 5% 0px 5%;
}